<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Create Store</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'/>

    <style>
        body {
            font-family: 'Open Sans';
        }

        #wrapper {
            display: block;
            justify-content: center;
            align-items: center;
            background: #333;
            padding-top: 44vh;
            padding-bottom: 45vh;
            overflow-y: hidden;
        }
        .text-center{
            text-align: center;
            display:block;
        }
        body{
            margin:0px;
        }
        .heading{
            font-size: 32px;
            margin:0;
            color:#fff;
        }
    </style>
</head>

<body>

    <div id="wrapper">
        <h4 class="text-center heading">Please wait, Your store is creating...</h4><br>
        <h4 class="text-center heading">
            <i class="fa fa-spin fa-spinner"></i>
        </h4>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script type="text/javascript">
        $(document).ready(function(){
            setTimeout(function () {
                window.location.href = "/"
            }, 10000);
        })
    </script>
</body>

</html>
