<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/apple-icon.png"
	/>
	<link rel="icon" type="image/png" href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/favicon.png" />
	<title>Reset Password</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />

	<!-- CSS Files -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/css/styles.css" rel="stylesheet" />

	<!-- Fonts and Icons -->
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />

</head>

<body>
	<div class="image-container set-full-height">

		<div class="header">
			<div class="logosection" style="margin: 20px 36% 0px;">
				<a href="#">
					<img src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/new_logo.png">
				</a>
			</div>
		</div>


		<!--   Big container   -->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-4">
					<!--      Wizard container        -->
					<div class="wizard-container">
						<div class="wizard-header1">
							<div class="signuphead">Forgot Password</div>
						</div>
						<div class="signupbody">
							<div class="card wizard-card" data-color="green">
								<form action="" method="post">
									<div class="row">
										<div class="col-sm-10 col-sm-offset-1">
											<div class="col-sm-12">
												<div class="wizard-header1">
													<h4 class="signupcz">Reset your password</h4>
												</div>
												<div class="row">
													<div class="prenextlinks">
														<div class="signinlink2">
															<span>Please Provide your Registered email.</span>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-12">
															<label>Email</label>
															<input type="email" class="form-control" placeholder="Email" id="email" name="email">
														</div>
													</div>
													<div class="row">
														<input type="submit" id="send_email" name="submit" class="submitlink" value="Reset Password">
													</div>
													<hr style="height:1px;background:rgba(58, 98, 124, 0.32);    margin: 0px;">
													<div class="prenextlinks">
														<span class="signin-link pull-left">
															<a href="/" class="text-right ">Sign In</a>
														</span>
														<span class="signup-link pull-right">
															<a href="/signup">Sign Up!</a>
														</span>
													</div>
												</div>
											</div>
										</div>
								</form>
								</div>
							</div>
						</div>
						<!-- wizard container -->
					</div>
				</div>
				<!-- row -->
			</div>

		</div>

</body>

<!--   Core JS Files   -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>

<!--  Plugin for the Wizard -->
<script src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/js/paper-bootstrap-wizard.js" type="text/javascript"></script>
<script src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
	$(document).ready(function () {
		//$("#basketone").show();
		$("#baskettwo").show();

		//$("#planone").show();
		$("#plantwo").show();

		//$("#paymentone").show();
		$("#paymenttwo").show();
	});
</script>
<script type="text/javascript">
	$("#send_email").click(function (e) {
		e.preventDefault();
		var email = document.getElementById('email').value;
		if (email) {
			$.ajax({
				type: 'POST',
				url: '/forgotpwd',
				data: {
					email: email,
				},
				success: function (res) {
					window.localStorage.setItem('email', email);
					if (res.status == "success") {
						swal(res.message, "", "success");
						setTimeout(function () {
							window.location = "/"
						}, 3000);
					} else {
						swal(res.message, "", "error");
						setTimeout(function () {
							window.location = "/forgotpassword"
						}, 3000);
					}
				},
				error: function (jqXHR, textStatus, errorThrown) {
					//alert('error: ' + textStatus + ': ' + errorThrown);
					swal(res.message, "", "error");
					setTimeout(function () {
						window.location = "/forgotpassword"
					}, 3000);
					console.log(errorThrown);
				}
			});
		}
	});
</script>

</html>