<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="apple-touch-icon" sizes="76x76" href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/apple-icon.png"
  />
  <link rel="icon" type="image/png" href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/favicon.png" />
  <title>Sign Up</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />
  <!-- CSS Files -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/css/styles.css" rel="stylesheet" />
  <!-- Fonts and Icons -->
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
</head>

<body>
  <div class="image-container set-full-height">
    <div class="header">
      <div class="logosection" style="margin: 20px 36% 0px;">
        <a href="#">
          <img src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/new_logo.png">
        </a>
      </div>
    </div>
    <!--   Big container   -->
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <!--      Wizard container        -->
          <div class="wizard-container">
            <div class="wizard-header1">
              <div class="signuphead">Sign Up</div>
            </div>
            <div class="signupbody">
              <div class="card wizard-card" data-color="green">
                <form action="" method="post">
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="col-sm-12">
                        <div class="wizard-header1">
                          <h4 class="signupcz">Sign Up for Cadenza</h4>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <label>User Name</label>
                            <input type="text" id="username" class="form-control" placeholder="">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <label>Email</label>
                            <input type="email" id="email" class="form-control" placeholder=""  onkeyup="checkemail();">
                            <span id="email_status"></span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <label>Password</label>
                            <input type="password" id="password" class="form-control" placeholder="">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <label>Confirm Password</label>
                            <input type="password" id="cpassword" class="form-control" placeholder="">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <label>Store Name</label>
                            <input type="text" id="storeName" class="form-control" placeholder=""  onkeyup="checkStore();">
                            <span id="storeName_status"></span>
                          </div>
                        </div>
                        <div class="row">
                          <input type="submit" id="signup" name="submit" class="submitlink" value="Sign Up">
                        </div>
                        <hr style="height:1px;background:rgba(58, 98, 124, 0.32);    margin: 0px;">
                        <div class="prenextlinks">
                          <div class="signinlink2">
                            <span>Already have an accout?</span>
                          </div>
                        </div>
                        <div class="sign-in-action-links">
                          <span class="signup-link">
                            <a href="/">Sign In</a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- wizard container -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!--  big container -->
  </div>
</body>
<!--   Core JS Files   -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
<!--  Plugin for the Wizard -->
<script src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/js/paper-bootstrap-wizard.js" type="text/javascript"></script>
<script src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
  $(document).ready(function () {
    $("#signup").click(function (e) {
      e.preventDefault();
      var user = new Object();
      user.username = $('#username').val();
      user.email = $('#email').val();
      user.password = $('#password').val();
      user.cpassword = $("#cpassword").val();
      user.storeName = $("#storeName").val();
      console.log("user:" + user.storeName);
      $.ajax({
        type: 'POST',
        url: '/signup',
        data: user,
        dataType: 'json',
        success: function (res) {
          if (res.status == "success") {
            swal(res.message, "", "success");
            setTimeout(function () {
              window.location = "/verify"
            }, 3000);
          }
          if (res.status == "failure") {
            swal(res.message, "", "error");
            setTimeout(function () {
              window.location = "/signup"
            }, 3000);
          }
        },
        error: function (jqXHR, textStatus, errorThrown) {
          swal(textStatus, errorThrown, "error");
          // alert('error: ' + textStatus + ': ' + errorThrown); Replacing it with sweetalert.
          console.log(errorThrown);
        }
      });

    });

    //$("#basketone").show();
    $("#baskettwo").show();

    //$("#planone").show();
    $("#plantwo").show();

    //$("#paymentone").show();
    $("#paymenttwo").show();
  });
</script>
<script type="text/javascript">
  function checkStore() {
    const storeName = document.getElementById('storeName').value;
    if (storeName) {
      $.ajax({
        type: 'POST',
        url: '/storecheck',
        data: {
          storeName: storeName,
        },
        success: function (response) {
          //$('#storeName_status').html(response.message);
          console.log("res::"+JSON.stringify(response));
          if (response.status == "success"){
            if(response.message == "proceed"){
              $('#storeName_status').html("store is available to use");
              $('#storeName_status').css("color","green");
            }
              return true;
            
          }
           else if(response.status == "failure"){
            $('#storeName_status').html("store is not available to use");
            $('#storeName_status').css("color","red");
           } 
          else
            return false;
        }
      });
    } else {
      $('#storeName_status').html("");
      return false;
    }
  }
</script>
<script type="text/javascript">
  function checkemail() {
    var email = document.getElementById('email').value;;
    if (email) {
      $.ajax({
        type: 'POST',
        url: '/emailcheck',
        data: {
          email: email,
        },
        success: function (response) {
          //$('#email_status').html(response.message);
          if (response.status == "success"){
            if(response.message == "you can procced"){
              $('#email_status').html("Email is available to use");
              $('#email_status').css("color","green");
            }
            //else
              //$('#email_status').css("color","red");  
            return true;
          }else{
            $('#email_status').html("Email is not available to use");
            $('#email_status').css("color","red");
            return false;
          }
        }
      });
    } else {
      $('#email_status').html("");
      return false;
    }
  }
</script>

</html>